---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_GEN_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import profile from "../assets/profile.jpg";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_GEN_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		.mycontainer {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}
		@media (max-width: 720px) {
			.mycontainer {
				display: block;
			}
			img {
				width: 125px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-bottom: 15px;
			}
		}
		a {text-decoration: none;}
	</style>
	<body>
		<Header />
		<main>
			<h3>Hi!</h3>
			<div class = "mycontainer">
			<div>
				<p>
					I'm a computer scientist working on problems in causal inference, focusing mainly on the algorithmic aspects of graphical causal models. I have a passion for problem-solving and look for simple and effective solutions.	
				</p>
			</div>
			<div>
				<Image src={profile} alt = "Picture of me :)" width = "450" />
			</div>
			</div>
			<div>
			<h5>Selected Publications and Recent Preprints</h5>
			<p>
				<a href="https://arxiv.org/abs/2506.15758">Linear-Time Primitives for Algorithm Development in Graphical Causal Inference</a><br>
				M. Wienöbst, S. Weichwald, L. Henckel (2025)<br>
				<strong>This paper is accompanied by the <a href="https://cifly.pages.dev/">CIfly software framework</a>.</strong>
				
			</p>
			<p>
				<a href="https://arxiv.org/abs/2211.16468">Linear-Time Algorithms for Front-Door Adjustment in Causal Graphs</a><br>
				M. Wienöbst, B. van der Zander, M. Liśkiewicz (AAAI 2024)
			</p>
			<p>
				<a href="https://www.jmlr.org/papers/v24/22-0495.html">Polynomial-Time Algorithms for Counting and Sampling Markov Equivalent DAGs with Applications</a><br>
				M. Wienöbst, M. Bannach, M. Liśkiewicz (JMLR 24(213), 2023)
			</p>
			<p>
				<a href="https://arxiv.org/abs/2301.12212">Efficient Enumeration of Markov Equivalent DAGs</a><br>
				M. Wienöbst, M. Luttermann, M. Bannach, M. Liśkiewicz (AAAI 2023: Oral)
			</p>
			<p>
				<a href="https://proceedings.mlr.press/v180/wienobst22a.html">A New Constructive Criterion for Markov Equivalence of MAGs</a><br>
				M. Wienöbst, M. Bannach, M. Liśkiewicz (UAI 2022: Oral + <strong>Best Student Paper</strong>)
			</p>
			<p>
				<a href="https://proceedings.mlr.press/v161/wienobst21a.html">Extendability of Causal Graphical Models: Algorithms and Computational Complexity</a><br>
				M. Wienöbst, M. Bannach, M. Liśkiewicz (UAI 2021: Long Talk + <strong>Best Student Paper</strong>)
			</p>
			<p>
				<a href="https://arxiv.org/abs/2012.09679">Polynomial-Time Algorithms for Counting and Sampling Markov Equivalent DAGs</a><br>
				M. Wienöbst, M. Bannach, M. Liśkiewicz (AAAI 2021: <strong>Distinguished Paper</strong>)
			</p>	
			</div>
		</main>
		<Footer />
	</body>
</html>
