---
const today = new Date();
---

<footer>
	<div class="Impressum">
		<strong>Impressum</strong>
		<dl>
		<dt> E-Mail </dt> <dd> m.wienoebst (AT) uni-luebeck.de </dd>
		<dt> Phone </dt> <dd> +49 451 3101-5321 </dd>
		<dt> Address </dt> <dd> University of Lübeck, Institute for Theoretical Computer Science <br> Building 64, 2nd Floor, Room 17 <br> Ratzeburger Allee 160, 23562 Lübeck </dd>
		</dl>
	</div>
	&copy; {today.getFullYear()} Marcel Wienöbst. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
