---
const today = new Date();
---

<footer>
	<div class="Impressum">
		<small>
		<dl>
		<dt> E-Mail </dt> <dd> m.wienoebst (AT) uni-luebeck.de  </dd>
		<dt> Phone </dt> <dd> +49 451 3101-5321 </dd>
		<dt> Address </dt> <dd> University of Lübeck, Theoretical Computer Science </dd> <dd> Building 64, 2nd Floor, Room 17 </dd> <dd> Ratzeburger Allee 160, 23562 Lübeck </dd>
	<dt> &copy; </dt> <dd> {today.getFullYear()} Marcel Wienöbst. All rights reserved. </dd>
		</dl>
		</small>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	dl {
	  display: grid;
	  grid-template-columns: max-content auto;
	  justify-content: center;
	}

	dt {
	  grid-column-start: 1;
	  justify-self: end;
	}

	dd {
	  grid-column-start: 2;
	  justify-self: start;
	  margin-left: 10px;
	}
	@media (max-width: 720px) {
		footer {
			padding: .5em .5em 2em .5em;
		}
		dd {
			margin-left: 5px;
		}
	}

</style>
